@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --Secondary-txt: #1A365D;
  --Primary: #D4A574
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), "Poppins";
}

.custom_shadow{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
}


.custom-bullet {
  background-color: var(--Primary)!important;
  opacity: 0.5;
}


.custom-bullet-active {
  background-color: var(--Primary)!important;
  opacity: 1;
}

.shadow_Us{
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.10), 0 20px 25px 0 rgba(0, 0, 0, 0.10);
}






